    <script src="http://localhost:3000/js/formzin/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="http://localhost:3000/js/plugins.js"></script>
    <script src="http://localhost:3000/js/main.js"></script>
    <script src="http://localhost:3000/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="http://localhost:3000/js/dashboard.js"></script>
    <script src="http://localhost:3000/js/widgets.js"></script>
    <script src="http://localhost:3000/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="http://localhost:3000/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="http://localhost:3000/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="http://localhost:3000/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="http://localhost:3000/js/lib/data-table/datatables.min.js"></script>
    <script src="http://localhost:3000/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="http://localhost:3000/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="http://localhost:3000/js/lib/data-table/datatables-init.js"></script>
    <script src="http://localhost:3000/js/formzin/formzin.js"></script>
    <script src="http://localhost:3000/js/tags/tagsinput.js"></script>
    <script src="http://localhost:3000/js/input-mask/jquery.inputmask.js"></script>
  <script src="http://localhost:3000/js/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="http://localhost:3000/js/input-mask/jquery.inputmask.extensions.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.datatable').DataTable();
  } );
</script>

<script type="text/javascript">
  Formzin.iniciar();
</script>

</body>
</html>