<div class="right_col" role="main"  >
         
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
              <h1 class="error-number">404</h1>
              <h2>Erro !!! Página não encontrada</h2>
              <p>A página que está tentando acessar não está disponível, caso o erro persista contate o administrador do sistema. 
              </p>
            
            </div>
          </div>
      </div>
            </div>

    