<% include ../template/topbar.ejs %>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Novo serviço na Agência:</strong>
                    </div>
                    <div class="card-body">
                        <div class="card-body card-block">

                            <div class="col-md-12">
                                <a class="pull-left btn btn-danger" href="">Voltar</a>
                                <button class="pull-right btn btn-primary"><i class="fa fa-save"></i> Cadastrar</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% include ../template/footer.ejs  %>